/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --united-nations-blue: hsl(214, 56%, 58%);
    --bright-navy-blue: hsl(214, 57%, 51%);
    --spanish-gray: hsl(0, 0%, 60%);
    --black-coral: hsl(225, 8%, 42%);
    --oxford-blue: hsl(208, 97%, 12%);
    --yale-blue: hsl(214, 72%, 33%);
    --blue-ncs: hsl(197, 100%, 36%);
    --gunmetal: hsl(206, 34%, 20%);
    --gainsboro: hsl(0, 0%, 88%);
    --cultured: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 25%);
    --jet: hsl(0, 0%, 20%);
  
    /**
     * typography
     */
  
    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;
  
    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease-in-out;
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
    /**
     * border-radius
     */
  
    --radius-15: 15px;
    --radius-25: 25px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  input,
  label,
  button,
  ion-icon { display: block; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  
  body { background: var(--white); }
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .btn {
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--fs-5);
    border-radius: 100px;
    padding: var(--padding, 8px 18px);
    border: var(--border-width, 2px) solid transparent;
    transition: var(--transition);
  }
  
  .btn-primary {
    background: var(--bright-navy-blue);
    border-color: var(--bright-navy-blue);
  }
  
  .btn-primary:is(:hover, :focus) {
    background: var(--yale-blue);
    border-color: var(--yale-blue);
  }
  
  .btn-secondary { border-color: var(--white); }
  
  .btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }
  
  .h1,
  .h2,
  .h3 {
    font-weight: var(--fw-800);
    font-family: var(--ff-montserrat);
    text-transform: uppercase;
  }
  
  .h1 {
    color: var(--white);
    font-size: var(--fs-1);
  }
  
  .h2,
  .h3 { color: var(--gunmetal); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
  }
  
  .section-subtitle {
    color: var(--bright-navy-blue);
    font-size: var(--fs-5);
    text-transform: uppercase;
    font-family: var(--ff-montserrat);
    margin-bottom: 8px;
  }
  
  .section-title { margin-bottom: 15px; }
  
  .section-text {
    color: var(--black-coral);
    margin-bottom: 30px;
  }
  
  .card-text {
    color: var(--black-coral);
    font-size: var(--fs-5);
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 61px;
    z-index: 4;
  }
  
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-block: 15px;
    z-index: 1;
  }
  
  .header.active .header-top {
    position: fixed;
    background: var(--gunmetal);
  }
  
  .header-top .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    align-items: center;
  }
  
  .helpline-box .wrapper { display: none; }
  
  .helpline-box .icon-box {
    background: var(--bright-navy-blue);
    padding: 6px;
    border-radius: 50%;
    color: var(--white);
  }
  
  .helpline-box .icon-box ion-icon { --ionicon-stroke-width: 40px; }
  
  .header-top .logo { 
    margin-inline: auto;
    color: white;
  }
  
  
  .header-btn-group {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
  }
  
  .search-btn,
  .nav-open-btn {
    font-size: 30px;
    color: inherit;
  }
  
  .search-btn { font-size: 20px; }
  
  .header-bottom { border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); }
  
  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .social-link {
    color: var(--white);
    padding: 8px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    border-radius: 50%;
    font-size: 15px;
    transition: var(--transition);
  }
  
  .social-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }
  
  .header .btn { --padding: 4px 20px; }
  
  .header .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: var(--white);
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in;
    z-index: 3;
  }
  
  .navbar.active {
    right: 0;
    visibility: visible;
    pointer-events: all;
    transition: 0.25s ease-out;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
  }
  
  .navbar-top .logo img { width: 150px; }
  
  .nav-close-btn {
    font-size: 20px;
    color: var(--bright-navy-blue);
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 80px; }
  
  .navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }
  
  .navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }
  
  .navbar-link {
    padding: 15px 20px;
    color: var(--jet);
    font-weight: var(--fw-500);
    font-size: var(--fs-4);
    transition: var(--transition);
    text-transform: capitalize;
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--bright-navy-blue); }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: var(--black);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: var(--transition);
  }
  
  .overlay.active {
    opacity: 0.7;
    pointer-events: all;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #HERO
  \*-----------------------------------*/
  
  .hero {
    background-image: url("https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 125px;
  }
  
  .hero-title { margin-bottom: 20px; }
  
  .hero-text {
    color: var(--white);
    font-size: var(--fs-5);
    margin-bottom: 40px;
  }
  
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  