/* NavBar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@500&family=Pacifico&family=Poppins:wght@500&display=swap');

html{
  /* border: 3px solid red; */
  height: 100vh;
  background-image: url('https://github.com/yashasviyadav1/trip-planner/assets/124666305/05b7cbb4-33b3-4e2a-9444-3f94cf7463a4');
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    background-color: rgb(18, 56, 95);
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
  
  }

  .nav-left {
    flex: 1;
  }
  
  .nav-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-right li {
    margin: 0;
    padding: 0;
  }
  
  .nav-right a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-links{
    font-family: 'Montserrat', sans-serif;
  }

  /* Media query for responsive design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
    
    .nav-left {
      margin-bottom: 10px;
    }
    
    .nav-right {
      margin-top: 10px;
    }
  }
  