.suggestions-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .suggestions-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-dropdown li:hover {
    background-color: #f0f0f0;
  }
  